<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net47" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net47" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net47" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net47" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.1" targetFramework="net47" />
  <package id="Microsoft.SDK.Expression.Blend" version="1.0.0" targetFramework="net47" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="System.Reactive" version="4.2.0" targetFramework="net47" />
  <package id="System.Reactive.Core" version="4.2.0" targetFramework="net47" />
  <package id="System.Reactive.Interfaces" version="4.2.0" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="4.2.0" targetFramework="net47" />
  <package id="System.Reactive.PlatformServices" version="4.2.0" targetFramework="net47" />
  <package id="System.Reactive.Windows.Threading" version="4.2.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net47" />
  <package id="Unity.Abstractions" version="5.11.1" targetFramework="net47" />
  <package id="Unity.Configuration" version="5.11.1" targetFramework="net47" />
  <package id="Unity.Container" version="5.11.1" targetFramework="net47" />
  <package id="Unity.Interception" version="5.11.1" targetFramework="net47" />
  <package id="Unity.Interception.Configuration" version="5.11.1" targetFramework="net47" />
  <package id="Unity.RegistrationByConvention" version="5.11.1" targetFramework="net47" />
  <package id="Unity.ServiceLocation" version="5.11.1" targetFramework="net47" />
</packages>